@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgb(255, 255, 255);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgb(255, 255, 255), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgb(255, 255, 255), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow-3d {
    text-shadow: 1px 1px 1px, 1px 2px 1px #093837, 1px 3px 1px #093837, 1px 4px 1px #093837,
      1px 5px 1px #093837, 1px 6px 1px #093837, 1px 7px 1px #093837, 1px 8px 1px #093837,
      1px 9px 1px #093837, 1px 10px 1px #093837, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }
  /* .txtK, */
  .txtS {
    color: white;
    background: #020203;
    /* filter: blur(1px); */

    /* font-weight: bold; */
  }
  /* .txtK::before {
    content: "KIRK ABBOTT";
    position: absolute;
    mix-blend-mode: difference;
    background: #020203;

    filter: blur(1px);
  } */
  .txtS::before {
    content: "KA";
    position: absolute;
    mix-blend-mode: difference;
    background: black;

    filter: blur(1px);
  }
  .txtGradient {
    background: linear-gradient(
      90deg,
      rgba(94, 235, 232, 1) 2.4532997384559887%,
      rgba(49, 214, 211, 1) 24.94570425234488%,
      rgba(31, 194, 191, 1) 56.31668949540043%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  .dodge {
    background: radial-gradient(circle, white, black 38%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 5s linear infinite;
  }
  @keyframes dodge-area {
    to {
      transform: translate(50%, 50%);
    }
  }
}
/* body {
  background-image: url(tailwindBG.png)
} */
#__next {
  @apply min-h-full;
}
